services:
  app:
    build: .
    volumes:
      - ./src:/app
    environment:
      PORT: 3000
      REACT_APP_PROJECT_ID: ""
      REACT_APP_API_KEY: ""
      REACT_APP_AUTH_DOMAIN: ""
      REACT_APP_STORAGE_BUCKET: ""
      REACT_APP_MESSAGE_SENDER_ID: ""
      REACT_APP_APP_ID: ""
    ports:
      - 3000:3000
    stdin_open: true
    command: yarn start
